@model Codehub.Models.CodehubDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CodehubDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodehubId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodehubId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            <div id="foo">
            <pre> 
            <code>
              <!--This is where the javascript will target-->
                    @Html.DisplayFor(model => model.Content)
                </code>
             </pre>
                </div>
            <!--This is the button for the clipboard javascript-->
            <button class="btn" data-clipboard-target="#foo">Copy To Clipboard</button>

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodehubId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
