@model IEnumerable<Codehub.Models.CodehubListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

@*Add this on tuesday marker here just incase I need to remove*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(cssmodel => cssmodel.CssId)
        </th>
        <th>
            @Html.DisplayNameFor(cssmodel => cssmodel.Title)
        </th>
        <th>
            @Html.DisplayNameFor(cssmodel => cssmodel.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CssId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CssId })
            </td>
        </tr>
    }

</table>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(bootmodel => bootmodel.BootstrapId)
        </th>
        <th>
            @Html.DisplayNameFor(bootmodel => bootmodel.Title)
        </th>
        <th>
            @Html.DisplayNameFor(bootmodel => bootmodel.CreatedUtc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(bootmodelItem => item.BootstrapId)
            </td>
            <td>
                @Html.DisplayFor(bootmodelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(bootmodelItem => item.CreatedUtc)
            </td>
            <td>

                @Html.ActionLink("Details", "Details", new { id = item.BootstrapId })

            </td>
        </tr>
    }

</table>

