@model Codehub.Models.CssDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CssDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CssId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CssId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            <pre> 
            
              <!--This is where the javascript will target-->
            <div id="foo">
                    @Html.DisplayFor(model => model.Content)
                </div>
                
             </pre>
            <!--This is the button for the clipboard javascript-->
            <button class="btn" data-clipboard-target="#foo">Copy To Clipboard</button>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script>
        new ClipboardJS('.btn')
    </script>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CssId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@* This was added to the main css 
    <style> 
       #foo {
            height: 300px;
            width: 300px;
        }
    </style>*@
